<h1>Ohai</h1>

<p>
	This is the RailsBlug, one of the many incarnations of the <a target='_blank' href="http://railstutorial.org/">Ruby on Rails Tutorial</a>'s Sample App.
</p>

<p id='signup_container'>
<%= link_to "Sign up now!", signup_path, :class=>"fakebutton round signup_button" %>
</p>
