<h1>About this thing</h1>
<p>
	This is the project <a href='http://users.itk.ppke.hu/~sciar'>I</a> am doing for the Ruby on Rails course at the
	<a href='http://www.itk.ppke.hu/'>university</a>, rather closely following the
	<a href='http://ruby.railstutorial.org/'>Ruby on Rails tutorial</a>. We also have a <a href='https://github.com/Botffy/Railstry'>Github repo</a>.
</p>
