<h1>Ohai</h1>

<p>
	This is the Railstry, a mock project we're doing at the university.
</p>

<p>


</p>

<p id='signup_container'>

<%= link_to "Sign up now!", signup_path, :class=>"fakebutton round signup_button" %>
</p>
