/*
00c7e7
eb117c
0f879a
b4a212
9a8a08
*/


body {
  background: #00c7e7;
  background-image: url(bg.jpg);
  background-repeat: repeat;

}

a, a:visited {
	text-decoration: none;
	color: #000;
}


#banner {
	display: block;
	font-size: 150%;
	font-weight: bold;
	color:#eb117c;
}

#banner img {
	vertical-align: middle;
	margin-right: 1em;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

header {
	float: left;
	background-color: #fff;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #0d9dfe;
}

nav.upper_navlist {
	float: right;
	margin-bottom: 1em;
}

footer nav {
	margin-top: 1em;
}

ul.unlist {
	margin: 0;
	padding: 0;
}

ul.unlist li {
	list-style-type: none;
	display: inline-block;
}

nav ul li a {
	background-color: #fff;
	margin-left:0.2em;
}

nav ul li a {
	display: inline-block;
	padding: 0.2em 1em;
}


#content {
	clear: both;
	height:100%;
	overflow: auto;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #0d9dfe;
}

#content h1 {
	font-size: 120%;
}

#content a {
	color: #0d9dfe;
}
#content a:hover {
	text-decoration: underline;
}




footer {
	text-align: center
}


a.fakebutton, nav ul li a {
	color: #0d9dfe;
	display: inline-block;
	text-decoration: none;
}



a.fakebutton:hover, nav ul li a:hover, nav ul li a.active {
	color: #ffffff;
	background-color: #eb117c;
}



#signup_container {
	text-align: center;
}

#content a.signup_button {
	display: inline-block;
	color: #ffffff;
	background-color: #eb117c;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

#content a.signup_button:hover {
	background-color: #00c7e7;
	text-decoration: none;
	color: #fff;
}

/* Round corners */
.round, .flash {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* flash */
div.flash {
	color: #fff;
	background-color: #eb117c;
	padding: 10px;
	margin-bottom: 2em;
	margin-top: 1em;
}

#content div.flash a {
	color: #fff;
	text-decoration: underline;
}


/* forms */
div.field, div.actions {
	margin-bottom: 10px;
}

div.field_with_errors {
	display: inline;
}
div.field_with_errors label {
	color: red;
}
div.field_with_errors input, div.field_with_errors.textarea {
	border: 1px solid red;
}

#error_explanation {
	margin-bottom: 2em;
	margin-top: 2em;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid red;
	padding: 12px;
	background-color: #DEFFFF;
}
#error_explanation h2 {
	background-color: red;
	color: white;
	font-size: 100%;
	padding: 0;
	margin: -12px;
	margin-bottom: 1em;
}

 
/**
	from http://mislav.uniqpath.com/will_paginate
*/
div.pagination {
	background-color: white;
	cursor: default;
	text-align: center;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 100%;
}
/*
div.pagination .previous_page {
	float: left;
}
div.pagination .next_page {
	float: right;
}
*/


div.pagination a, div.pagination span, div.pagination em {
	display: inline-block;
	padding: 0.2em 0.5em;
}

div.pagination .disabled {
	color: #bbb;
	border: 1px solid #bbb;
}
div.pagination em {
	font-style: normal;
	font-weight: bold;
	background: #eb117c;
	color: white;
	border: 1px solid #eb117c;
}
div.pagination a {
	text-decoration: none;
	color: #00c7e7;
	border: 1px solid #00c7e7;
}
#content div.pagination a:hover, #content div.pagination a:focus {
	text-decoration: none;
	color: #eb117c;
	border-color: #eb117c;
}


div.sidebar {
	float: right;
	padding: 1em;
	background: #00c7e7;
}
#content div.sidebar a, #content div.sidebar a:visited {
	color: black;
	text-decoration: underline;
}
