/* User show page */

div.userprofile {
	width: 100%;
	margin-bottom: 0;
}

div.main {
	padding: 1em;
}

div.sidebar {
	float: right;
	padding: 1em;
	background: #00c7e7;
}

#content div.sidebar a, #content div.sidebar a:visited {
	color: black;
	text-decoration: underline;
}

.userprofile img.gravatar {
	border: 1px solid #999;
	vertical-align: middle;
}
.userprofile .main h1 {
	font-size: 130%;
}


div.posts {
	margin-top: 0.6em;
}

div.micropost {
	border-bottom: 1px solid #00c7e7;
	border-top: 1px solid #00c7e7;
	padding: 0.4em;
	margin: 1em;
	margin-bottom: 1.8em;
	clear: both;
}

div.micropost span {
	display: block;
}

div.micropost span.timestamp {
	font-size: 80%;
	font-style: italic;
	text-align: right;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-right: 0.6em;
}
