<footer>
	<nav>
		<ul class='unlist'>
			<li class="round"><%= link_to "About", '#' %></li>
			<li class="round"><%= link_to "Contact", '#' %></li>
			<li class="round"><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
		</ul>
	</nav>
</footer>
