<footer>
	<nav>
		<ul class='unlist'>
			<li class="round"><%= link_to "About", about_url %></li>
			<li class="round"><%= link_to "Contact", contact_url %></li>
			<li class="round"><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
		</ul>
	</nav>
</footer>
