<footer>
	<nav>
		<ul class='unlist'>
			<li><%= link_to_and_highlight "About", about_url, :class=>"round" %></li>
			<li><%= link_to_and_highlight "Contact", contact_url,  :class=>"round" %></li>
			<li><a class='round' href="http://www.railstutorial.org/">Rails Tutorial</a></li>
		</ul>
	</nav>
</footer>
