<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
<%= render 'layouts/header' %>

<section>
	<%= yield %>
</section>
</div>

</body>
</html>
